[Unit]
Description=KIS Server
After=network.target

[Service]
WorkingDirectory=path/to/kis
ExecStart=path/to/kis/binary -port 3380 -mode release
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Type=simple
Restart=on-failure
User=user
Group=group

[Install]
WantedBy=multi-user.target
Alias=kis.service
